<div class="container border p-5 bg-secondary bg-gradient">
  <h1>Social Media App</h1>
  <hr>
  <p>Welcome to Social Media Application</p>

  <%= link_to 'Sign up Now!', '#', class: 'btn btn-primary my-3' %>
</div>
